@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
input {
  border: 1px solid black;
}
::placeholder {
  color: white;
}
/* @layer base {
    html {
      font-family: "Lato-Regular", system-ui, sans-serif;
    }
  } */
